<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM0-qkZsLBwcpMfHo1ArhNQQwa_gWNgm0</string>
	<key>GCM_SENDER_ID</key>
	<string>1026614924229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajilkojilgokulravi.unniman</string>
	<key>PROJECT_ID</key>
	<string>edushortfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>edushortfinal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026614924229:ios:8d3302c568ed6e3e5071ac</string>
</dict>
</plist>
